<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% if page.title %}
            {{ page.title }} | James Goldsworthy
        {% else %}
            James Goldsworthy | Technical Portfolio
        {% endif %}
    </title>

    <meta
        name="description"
        content="{{ page.description | default: site.description }}"
    >

    <link
        rel="stylesheet"
        href="{{ '/style.css' | relative_url }}"
    >
</head>

<body>
    <header class="site-header">
        <div class="container">
            <a
                class="site-title"
                href="{{ '/' | relative_url }}"
            >
                James Goldsworthy
                <span class="site-alias">(Jim Kroovy)</span>
            </a>

            <p class="site-subtitle">
                Senior Technical Artist · Technical Animator · Gameplay Programmer · Wizard
            </p>
        </div>
    </header>

    <main class="container">
        {{ content }}
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>© {{ site.time | date: "%Y" }} James Goldsworthy</p>
        </div>
    </footer>
</body>
</html>